@import "reset.css";
@import "settings/colors";
@import "settings/fonts";

* {
    box-sizing: border-box;
}

body {
    font-family: $font-base;
    color: $c-grey;
    line-height: 1.25;
}

.container {
    width: 90%;
    margin-left: 0;
    padding-left: 0;
}